@charset "utf-8";

@import "./color.scss";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  color: $text_color;
  background: $bg_color;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 2;
  -webkit-text-size-adjust: none;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: 1px solid $border_color;
}
